#root{
  background-color: black;
}
.logo{
  max-width: 200px;
}
.card{
  border: none;
  max-width: 200px;
  background: none;
}
.card img{
  border-radius: 100px;
}

.card-body{
  background: white;
    border: none;
    border-radius: 26px;
}